.blogContainer {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  display: grid;
  justify-content: center;
  padding: 20px;
}

.slider-main {
  padding: 30px;
}

.dots {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  .dot {
    display: inline-block;
    background-color: #e9d0c7;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px;

    &.active {
      background-color: #e9d0c7 (136, 247, 255);
      transform: scale(1.5);
    }
  }
}

.highlight {
  align-items: center;
  flex-direction: row-reverse;
}

.highlight-yt-pic {
  max-width: 50px;
}

.bobbins {
  background-image: url(../images/bobbins.jpg);
  background-position-x: left;
  background-position-y: bottom;
  padding: 40px;
}

.bobbins-text {
  padding: 10px;
  font-size: small;
}

.arrow {
  border: solid #e9d0c7;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 20px;
  opacity: 20%;
}

.arrow:hover {
  opacity: 100%;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.none {
  display: none;
}

.none-mobil {
  display: flex;
  justify-content: center;
  margin: 10px;
}
